.birds-group {
  padding: 5px;
  border: 1px solid black;
  margin: 0 0 15px 0 !important;
}
.header-category {
  user-select: none;
  border: 0 !important;
  text-align: center;
  padding: .5rem 1rem;
  border-radius: 0 !important;
  background-color: inherit !important;
}
.active {
  background-color: rgb(39, 121, 39) !important;
}