.birds-group {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.list-group-item {
  width: 15%;
  user-select: none;
  border: none ;
  text-align: center;
  padding: .5rem 1rem;
}