.title-group {
  display: flex;
  justify-content: space-between;
}
.title-group h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}
.title-group span {
  font-family: 'Dancing Script', cursive;
  color: darkcyan;
}
.score {
  font-size: 2rem;
}